body {
    
}

#main {
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px;
    border: 0px solid;
    background: #eee;
}

#title {
    text-align: center;
}

div {
    text-align: center;
}

#image {
    margin: auto;
    max-width: 100%;
}

#img-div {
    margin: 20px -5px -5px -5px;
    width: 100%;
    background: white;
    border: 5px solid white;
}

#img-caption {
    margin: 15px;
}

ul {
    text-align: left;
    margin: auto;
    max-width: 550px;
}

li {
    margin: 10px;
}